.main-home.bussiness  {
    height: 545px;
}
.main-home.bussiness img  {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* text-with-img */
.text-visual {
    margin-top: 16px;
}
.text-visual .inner {
    max-width: 1264px;
    padding: 0px 40px;
    height: 447px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* content text */
.text-visual .inner .content-text {
    text-align: start;
    padding: 24px;
    max-width: 500px;
}
.text-visual .inner .content-sub-title {
    display: block;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    opacity: 0;
}
.text-visual .inner .content-title {
    display: block;
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
}
/* content visual */
.text-visual .inner .content-visual {
    margin-top: 16px;
    font-size: 48px;
    line-height: 60px;
    animation-delay: 0.2s;
    padding: 24px;
    max-width: 500px;
}
.text-visual .inner .content-visual img {
    width: 100%;
    height: 100%;
}
.stories .inner {
    padding: 0;
}
/* tag box */
.stories-box {
    margin: 88px auto 0px;
    max-width: 1032px;
}
.stories-box .tag-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
}
.stories-box .tag-item {
    display: flex;
    width: 320px;
    max-width: 1032px;
}
.stories-box .tag-content {
    height: 100%;
    width: 100%;
    padding: 40px;
    box-shadow: 0 0 10px #cacaca;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.stories-box .tag-icon {
    width: 84px;
    height: 84px;
    background-size: 84px 84px;
}
.stories-box .tag-icon img {
    width: 84px;
    height: 84px;
    object-fit: contain;
    border-radius: 50%;
}
.stories-box .tag-info {
    max-width: 240px;
    margin: 0px auto;
    padding: 16px 8px 0;
    text-align: start;
    flex: 1;
}
.stories-box .tag-title {
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}
.stories-box .tag-desc {
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    margin: 8px auto 0px;
    color: rgb(92, 92, 97);
}
.stories-box .tag-img {
    margin-top: 16px;
    height: 150px;
    overflow: hidden;
    border-radius:4px;
}
.stories-box .tag-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* res */
/* pc */
@media (min-width: 1024px) {

}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .text-visual:nth-child(2) .inner {
        flex-direction: column;
    }
    .text-visual:nth-child(3) .inner {
        flex-direction: column-reverse;
    }
    .text-visual .inner {
        height: auto;
        padding: 88px 32px 88px;
    }
    .stories-box .tag-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px;
        width: 90%;
        margin: auto;
    }
    .stories-box .tag-item {
        width: auto;
    }
}
/* mobile */
@media (max-width: 739px) {
    .text-visual:nth-child(2) .inner {
        flex-direction: column;
    }
    .text-visual:nth-child(3) .inner {
        flex-direction: column-reverse;
    }
    .text-visual .inner {
        height: auto;
        padding: 88px 32px 88px;
    }
    .text-visual .inner .content-sub-title {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }
    .text-visual .inner .content-title {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }
    .stories-box .tag-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 36px;
        width: 90%;
        margin: auto;
    }
    .stories-box .tag-item {
        width: auto;
    }
    .stories-box .tag-content {
        padding: 16px 18px;
    }
    .stories-box .tag-icon {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
    }
    .stories-box .tag-icon img{
        width: 32px;
        height: 32px;
    }
    .stories-box .tag-info{
        margin: 0;
    }
    .stories-box .tag-title {
        margin-top: 4px;
        padding-left: 2px;
        font-size: 15px;
        line-height: 22px;
    }
    .stories-box .tag-desc {
        margin-top: 4px;
        padding-left: 2px;
        font-size: 12px;
        line-height: 18px;
    }
    .stories-box .tag-img {
        height: auto;
        justify-self: end;
    }
}